body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    padding: 20px;
}

a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

#receitas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.receita {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.editButton {
    background-color: #4CAF50;
    color: white;
}

.deleteButton {
    background-color: red;
    color: white;
}
